<ion-header>
    <ion-toolbar color="primary">
        <div class="super-title">Acerca</div>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <h1>
        LBOR
    </h1>
    <p>
        LBOR es una aplicacion de codigo abirto para facilitar el acceso a los datos de LIbreBOR. La aplicacion utiliza
        el API publica de <strong>LibreBOR</strong> para obtener los datos que se muestran. No almacenamos ningun tipo
        de dato en nuestros servidores.
    </p>

    <h1>
        LibreBOR
    </h1>

    <p>
        Plataforma web para la consulta y el análisis del Boletín Oficial del Registro Mercantil
    </p>


    <p>

        LibreBOR (antes conocido como LibreBORME) nace con la intención de «abrir» los datos del Registro Mercantil de
        España. Aprovechando que desde 2009 se publica el BORME en formato electrónico, LibreBOR se encarga de leérselo
        por
        ti cada mañana y añadir a su base de datos los últimos cambios. De esta manera tú puedes hacer búsquedas
        semánticas,
        recibir notificaciones y usar estos datos de manera sencilla y para lo que quieras.
    </p>
</ion-content>
