<ion-header>

    <ion-toolbar color="primary">
        <ion-searchbar [(ngModel)]="bucadorInput" (search)="buscar($event)" (ionClear)="deleteItems()"
                       debounce="1000" showCancelButton="never" cancelButtonText="Cancelar"
                       placeholder="Buscar"></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="tipoBusqueda">
            <ion-segment-button value="all">
                <ion-label>Todo</ion-label>
            </ion-segment-button>
            <ion-segment-button value="emp">
                <ion-label>Empresas</ion-label>
            </ion-segment-button>
            <ion-segment-button value="per">
                <ion-label>Personas</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content>

    <div *ngIf="!personas && !empresas">
        <ion-list>
            <ion-item text-wrap class="empty-state" *ngIf="1">
                <ion-label>
                    <img src="assets/img/slides/chart-analysis.svg" alt="">
                    <p>Busca empresas o personas</p>
                </ion-label>
            </ion-item>
        </ion-list>

    </div>

    <div *ngIf="tipoBusqueda=='all' || tipoBusqueda== 'emp'">
        <ion-list *ngIf="empresas">
            <ion-list-header *ngIf="tipoBusqueda== 'all'">
                <ion-label>Socidedades</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let item of empresas.objects" [routerLink]="['empresa/'+item.slug]">
                <ion-label text-wrap>
                    <h2>{{item.name}}</h2>
                </ion-label>
            </ion-item>
            <ion-item text-wrap [ngClass]="{'small-img':tipoBusqueda=='all', 'small-place':tipoBusqueda=='all'}" class="empty-state" *ngIf="!empresas.objects || empresas.objects.length == 0">
                <ion-label>
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <p>No hay resultados de empresas</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="tipoBusqueda=='all' || tipoBusqueda== 'per'">
        <ion-list *ngIf="personas && personas.objects">
            <ion-list-header *ngIf="tipoBusqueda== 'all'">
                <ion-label>Personas</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let item of personas.objects" [routerLink]="['persona/'+item.slug]">
                <ion-label text-wrap>
                    <h2>{{item.name}}</h2>
                </ion-label>
            </ion-item>
            <ion-item text-wrap [ngClass]="{'small-img':tipoBusqueda=='all', 'small-place':tipoBusqueda=='all'}" class="empty-state" *ngIf="!personas.objects || personas.objects.length == 0">
                <ion-label>
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <p>No hay resultados de personas</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
