<ion-header>
  <ion-toolbar color="primary">
    <div class="super-title">Favoritos</div>
  </ion-toolbar>


  <ion-toolbar color="primary" *ngIf="false">
    <ion-segment [(ngModel)]="tipoFavorito">
      <ion-segment-button value="emp">
        <ion-label>Empresas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="per">
        <ion-label>Personas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div>
    <ion-list>
      <ion-item text-wrap class="empty-state" *ngIf="1">
        <ion-label>
          <img src="assets/img/slides/goal-target-idea.svg" alt="">
          <p>Aqui apareceran tus favoritos</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
